<%- include('../layouts/header.ejs') %>

<div class="space" style="height: 100px;">
   
</div>

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <h6 class=""  style="color: red;">This cart is empty order somtheing...</h6>
                                    </div>
                                    <div class="media-body">
                                      
                                    </div>
                                </div>
                            </td>
                            <td>
                               
                           
                            </td>
                            <td>
                            </td>
                            
                        </tr>
                      
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal   ₹ 0.00</h5>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<%- include('../layouts/footer.ejs') %>
