<%- include('../layouts/header.ejs') %>


<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Wishlist</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">WishList</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <h6 class=""  style="color: red;">This Wishlist is empty add somtheing to wishlist...</h6>
                                    </div>
                                    <div class="media-body">
                                      
                                    </div>
                                </div>
                            </td>
                            <td>
                               
                           
                            </td>
                            <td>
                            </td>
                            
                        </tr>
                      
                        <tr class="bottom_button">
                         
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                           
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
 
    <!--================End Cart Area =================-->
<%- include('../layouts/footer.ejs') %>


   